<section id="1Row2ColumnImageLeftSection">
  <div class="wp-block-columns alignfull m-bgr">
    <div class="wp-block-column footerform"
         style="background: url({{ 1Row2ColumnImageLeft_image }});  background-size: cover;">
    </div>
    <div class="wp-block-column form-w">
      <div
        style="height: 50px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <h2>{{ 1Row2ColumnImageLeft_title }}</h2>

      <div>
        {{ 1Row2ColumnImageLeft_body }}
      </div>
    </div>
  </div>
</section>
