<section id="bannerSection">
  <div class="wp-block-qubely-row alignfull qubely-section qubely-block-05d4e5" style="background-image: url('{{ banner_image }}')">
    <div class="qubely-row-overlay"></div>
    <div class="qubely-container">
      <div class="qubely-row">
        <div
          class="
            wp-block-qubely-column
            qubely-column qubely-column-front qubely-block-433ace
          "
        >
          <div class="qubely-column-inner">
            <div class="wp-block-qubely-heading qubely-block-dc1af3">
              <div class="qubely-block-heading">
                <div class="qubely-heading-container">
                  <h2 class="qubely-heading-selector">
                    {{ banner_title }}
                  </h2>
                </div>
              </div>
            </div>

            <div class="wp-block-qubely-text qubely-block-15ab7e">
              <div class="qubely-block-text">
                <p>
                {{ banner_body_1 }}
                </p>
              </div>
            </div>

            <div class="wp-block-qubely-button qubely-block-95b980">
              <div class="qubely-block-btn-wrapper">
                <div class="qubely-block-btn">
                  <a
                    class="qubely-block-btn-anchor is-large"
                    style="background-color: {{ secondary_color }}; border-color: {{ secondary_color }};"
                    href="{{ banner_button_link }}"
                    >{{ banner_button_text_1 }}<i
                      class="qubely-btn-icon fas fa-angle-right"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="
            wp-block-qubely-column
            qubely-column qubely-column-front qubely-block-a8708d
          "
        >
          <div class="qubely-column-inner"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="wp-block-qubely-row alignfull qubely-section qubely-block-3bccc7" style="background-color: {{ primary_color }}">
    <div class="qubely-row-overlay"></div>
    <div class="qubely-container">
      <div class="qubely-row">
        <div
          class="
            wp-block-qubely-column
            qubely-column qubely-column-front qubely-block-2da56d
          "
        >
          <div class="qubely-column-inner">
            <div class="wp-block-qubely-row qubely-section qubely-block-2177f2">
              <div class="qubely-row-overlay"></div>
              <div class="qubely-container-fluid">
                <div class="qubely-row">
                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-aa9efa
                    "
                  >
                    <div class="qubely-column-inner">
                      <div class="wp-block-qubely-heading qubely-block-1e44f4">
                        <div class="qubely-block-heading">
                          <div class="qubely-heading-container">
                            <h3 class="qubely-heading-selector">
                              {{ banner_body_2 }}
                            </h3>
                          </div>
                        </div>
                      </div>

                      <div class="wp-block-qubely-heading qubely-block-168d93">
                        <div class="qubely-block-heading">
                          <div class="qubely-heading-container">
                            <h3 class="qubely-heading-selector">
                              {{ banner_body_2_date }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  {% comment %}<div{% endcomment %}
                    {% comment %}class="{% endcomment %}
                      {% comment %}wp-block-qubely-column{% endcomment %}
                      {% comment %}qubely-column qubely-column-front qubely-block-0f930c{% endcomment %}
                    {% comment %}"{% endcomment %}
                  {% comment %}>{% endcomment %}
                    {% comment %}<div class="qubely-column-inner">{% endcomment %}
                      {% comment %}<div{% endcomment %}
                        {% comment %}class="{% endcomment %}
                          {% comment %}wp-block-qubely-button{% endcomment %}
                          {% comment %}qubely-block-7e5951{% endcomment %}
                          {% comment %}buttonn{% endcomment %}
                        {% comment %}"{% endcomment %}
                      {% comment %}>{% endcomment %}
                        {% comment %}<div class="qubely-block-btn-wrapper">{% endcomment %}
                          {% comment %}<div class="qubely-block-btn">{% endcomment %}
                            {% comment %}<a{% endcomment %}
                              {% comment %}class="qubely-block-btn-anchor is-large"{% endcomment %}
                              {% comment %}href="https://ng.istatacademy.com/rsvp/"{% endcomment %}
                              {% comment %}>Rsvp<i{% endcomment %}
                                {% comment %}class="qubely-btn-icon fas fa-angle-right"{% endcomment %}
                              {% comment %}></i{% endcomment %}
                            {% comment %}></a>{% endcomment %}
                          {% comment %}</div>{% endcomment %}
                        {% comment %}</div>{% endcomment %}
                      {% comment %}</div>{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                  {% comment %}</div>{% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
