<section id="contactSection">
  <div class="wp-block-columns alignfull m-bgr">
    <div class="wp-block-column footerform"
         style="background: url({{ contact_image }});  background-size: cover;">
    </div>
    <div class="wp-block-column form-w">
      <div
        style="height: 50px"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <h2>{{ contact_title }}</h2>

      <div>
        {{ contact_mailchimp_form }}
      </div>

      {% comment %}<div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_3">{% endcomment %}
        {% comment %}<form{% endcomment %}
          {% comment %}method="post"{% endcomment %}
          {% comment %}enctype="multipart/form-data"{% endcomment %}
          {% comment %}id="gform_3"{% endcomment %}
          {% comment %}action="https://{{ school_domain }}"{% endcomment %}
        {% comment %}>{% endcomment %}
          {% comment %}<div class="gform_body">{% endcomment %}
            {% comment %}<ul{% endcomment %}
              {% comment %}id="gform_fields_3"{% endcomment %}
              {% comment %}class="{% endcomment %}
                {% comment %}gform_fields{% endcomment %}
                {% comment %}top_label{% endcomment %}
                {% comment %}form_sublabel_below{% endcomment %}
                {% comment %}description_below{% endcomment %}
              {% comment %}"{% endcomment %}
            {% comment %}>{% endcomment %}
              {% comment %}<li{% endcomment %}
                {% comment %}id="field_3_1"{% endcomment %}
                {% comment %}class="{% endcomment %}
                  {% comment %}gfield gfield_contains_required{% endcomment %}
                  {% comment %}field_sublabel_below field_description_below{% endcomment %}
                  {% comment %}gfield_visibility_visible{% endcomment %}
                {% comment %}"{% endcomment %}
              {% comment %}>{% endcomment %}
                {% comment %}<label class="gfield_label" for="input_3_1"{% endcomment %}
                  {% comment %}>Name<span class="gfield_required">*</span></label{% endcomment %}
                {% comment %}>{% endcomment %}
                {% comment %}<div class="ginput_container ginput_container_text">{% endcomment %}
                  {% comment %}<input{% endcomment %}
                    {% comment %}name="input_1"{% endcomment %}
                    {% comment %}id="input_3_1"{% endcomment %}
                    {% comment %}type="text"{% endcomment %}
                    {% comment %}value=""{% endcomment %}
                    {% comment %}class="large"{% endcomment %}
                    {% comment %}placeholder="Name"{% endcomment %}
                    {% comment %}aria-required="true"{% endcomment %}
                    {% comment %}aria-invalid="false"{% endcomment %}
                  {% comment %}/>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</li>{% endcomment %}
              {% comment %}<li{% endcomment %}
                {% comment %}id="field_3_2"{% endcomment %}
                {% comment %}class="{% endcomment %}
                  {% comment %}gfield{% endcomment %}
                  {% comment %}gf_left_half{% endcomment %}
                  {% comment %}gfield_contains_required{% endcomment %}
                  {% comment %}field_sublabel_below field_description_below{% endcomment %}
                  {% comment %}gfield_visibility_visible{% endcomment %}
                {% comment %}"{% endcomment %}
              {% comment %}>{% endcomment %}
                {% comment %}<label class="gfield_label" for="input_3_2"{% endcomment %}
                  {% comment %}>Email<span class="gfield_required">*</span></label{% endcomment %}
                {% comment %}>{% endcomment %}
                {% comment %}<div class="ginput_container ginput_container_email">{% endcomment %}
                  {% comment %}<input{% endcomment %}
                    {% comment %}name="input_2"{% endcomment %}
                    {% comment %}id="input_3_2"{% endcomment %}
                    {% comment %}type="email"{% endcomment %}
                    {% comment %}value=""{% endcomment %}
                    {% comment %}class="medium"{% endcomment %}
                    {% comment %}placeholder="Email"{% endcomment %}
                    {% comment %}aria-required="true"{% endcomment %}
                    {% comment %}aria-invalid="false"{% endcomment %}
                  {% comment %}/>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</li>{% endcomment %}
              {% comment %}<li{% endcomment %}
                {% comment %}id="field_3_3"{% endcomment %}
                {% comment %}class="{% endcomment %}
                  {% comment %}gfield{% endcomment %}
                  {% comment %}gf_right_half{% endcomment %}
                  {% comment %}field_sublabel_below field_description_below{% endcomment %}
                  {% comment %}gfield_visibility_visible{% endcomment %}
                {% comment %}"{% endcomment %}
              {% comment %}>{% endcomment %}
                {% comment %}<label class="gfield_label" for="input_3_3">Phone</label>{% endcomment %}
                {% comment %}<div class="ginput_container ginput_container_phone">{% endcomment %}
                  {% comment %}<input{% endcomment %}
                    {% comment %}name="input_3"{% endcomment %}
                    {% comment %}id="input_3_3"{% endcomment %}
                    {% comment %}type="tel"{% endcomment %}
                    {% comment %}value=""{% endcomment %}
                    {% comment %}class="large"{% endcomment %}
                    {% comment %}placeholder="Phone"{% endcomment %}
                    {% comment %}aria-invalid="false"{% endcomment %}
                  {% comment %}/>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</li>{% endcomment %}
              {% comment %}<li{% endcomment %}
                {% comment %}id="field_3_5"{% endcomment %}
                {% comment %}class="{% endcomment %}
                  {% comment %}gfield gfield_contains_required{% endcomment %}
                  {% comment %}field_sublabel_below field_description_below{% endcomment %}
                  {% comment %}gfield_visibility_visible{% endcomment %}
                {% comment %}"{% endcomment %}
              {% comment %}>{% endcomment %}
                {% comment %}<label class="gfield_label" for="input_3_5"{% endcomment %}
                  {% comment %}>How did you hear about us?<span class="gfield_required"{% endcomment %}
                    {% comment %}>*</span{% endcomment %}
                  {% comment %}></label{% endcomment %}
                {% comment %}>{% endcomment %}
                {% comment %}<div class="ginput_container ginput_container_select">{% endcomment %}
                  {% comment %}<select{% endcomment %}
                    {% comment %}name="input_5"{% endcomment %}
                    {% comment %}id="input_3_5"{% endcomment %}
                    {% comment %}class="large gfield_select"{% endcomment %}
                    {% comment %}aria-required="true"{% endcomment %}
                    {% comment %}aria-invalid="false"{% endcomment %}
                  {% comment %}>{% endcomment %}
                    {% comment %}<option value="" selected="selected" class="gf_placeholder">{% endcomment %}
                      {% comment %}How did you hear about us?{% endcomment %}
                    {% comment %}</option>{% endcomment %}
                    {% comment %}<option value="Facebook">Facebook</option>{% endcomment %}
                    {% comment %}<option value="Google">Google</option>{% endcomment %}
                    {% comment %}<option value="Friends">Friends</option>{% endcomment %}
                  {% comment %}</select>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</li>{% endcomment %}
              {% comment %}<li{% endcomment %}
                {% comment %}id="field_3_4"{% endcomment %}
                {% comment %}class="{% endcomment %}
                  {% comment %}gfield gfield_contains_required{% endcomment %}
                  {% comment %}field_sublabel_below field_description_below{% endcomment %}
                  {% comment %}gfield_visibility_visible{% endcomment %}
                {% comment %}"{% endcomment %}
              {% comment %}>{% endcomment %}
                {% comment %}<label class="gfield_label" for="input_3_4"{% endcomment %}
                  {% comment %}>Message<span class="gfield_required">*</span></label{% endcomment %}
                {% comment %}>{% endcomment %}
                {% comment %}<div class="ginput_container ginput_container_textarea">{% endcomment %}
                  {% comment %}<textarea{% endcomment %}
                    {% comment %}name="input_4"{% endcomment %}
                    {% comment %}id="input_3_4"{% endcomment %}
                    {% comment %}class="textarea medium"{% endcomment %}
                    {% comment %}placeholder="Your Message"{% endcomment %}
                    {% comment %}aria-required="true"{% endcomment %}
                    {% comment %}aria-invalid="false"{% endcomment %}
                    {% comment %}rows="10"{% endcomment %}
                    {% comment %}cols="50"{% endcomment %}
                  {% comment %}></textarea>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</li>{% endcomment %}
              {% comment %}<li{% endcomment %}
                {% comment %}id="field_3_6"{% endcomment %}
                {% comment %}class="{% endcomment %}
                  {% comment %}gfield{% endcomment %}
                  {% comment %}gform_validation_container{% endcomment %}
                  {% comment %}field_sublabel_below field_description_below{% endcomment %}
                  {% comment %}gfield_visibility_visible{% endcomment %}
                {% comment %}"{% endcomment %}
              {% comment %}>{% endcomment %}
                {% comment %}<label class="gfield_label" for="input_3_6">Email</label>{% endcomment %}
                {% comment %}<div class="ginput_container">{% endcomment %}
                  {% comment %}<input{% endcomment %}
                    {% comment %}name="input_6"{% endcomment %}
                    {% comment %}id="input_3_6"{% endcomment %}
                    {% comment %}type="text"{% endcomment %}
                    {% comment %}value=""{% endcomment %}
                    {% comment %}autocomplete="off"{% endcomment %}
                  {% comment %}/>{% endcomment %}
                {% comment %}</div>{% endcomment %}
                {% comment %}<div class="gfield_description" id="gfield_description__6">{% endcomment %}
                  {% comment %}This field is for validation purposes and should be left{% endcomment %}
                  {% comment %}unchanged.{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</li>{% endcomment %}
            {% comment %}</ul>{% endcomment %}
          {% comment %}</div>{% endcomment %}
          {% comment %}<div class="gform_footer top_label">{% endcomment %}
            {% comment %}<input{% endcomment %}
              {% comment %}type="submit"{% endcomment %}
              {% comment %}id="gform_submit_button_3"{% endcomment %}
              {% comment %}class="gform_button button"{% endcomment %}
              {% comment %}value="Submit"{% endcomment %}
              {% comment %}onclick='if(window["gf_submitting_3"]){return false;}  if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  '{% endcomment %}
              {% comment %}onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_3"]){return false;} if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  jQuery("#gform_3").trigger("submit",[true]); }'{% endcomment %}
            {% comment %}/>{% endcomment %}
            {% comment %}<input{% endcomment %}
              {% comment %}type="hidden"{% endcomment %}
              {% comment %}class="gform_hidden"{% endcomment %}
              {% comment %}name="is_submit_3"{% endcomment %}
              {% comment %}value="1"{% endcomment %}
            {% comment %}/>{% endcomment %}
            {% comment %}<input{% endcomment %}
              {% comment %}type="hidden"{% endcomment %}
              {% comment %}class="gform_hidden"{% endcomment %}
              {% comment %}name="gform_submit"{% endcomment %}
              {% comment %}value="3"{% endcomment %}
            {% comment %}/>{% endcomment %}
{% comment %}{% endcomment %}
            {% comment %}<input{% endcomment %}
              {% comment %}type="hidden"{% endcomment %}
              {% comment %}class="gform_hidden"{% endcomment %}
              {% comment %}name="gform_unique_id"{% endcomment %}
              {% comment %}value=""{% endcomment %}
            {% comment %}/>{% endcomment %}
            {% comment %}<input{% endcomment %}
              {% comment %}type="hidden"{% endcomment %}
              {% comment %}class="gform_hidden"{% endcomment %}
              {% comment %}name="state_3"{% endcomment %}
              {% comment %}value="WyJbXSIsIjNmNWZjYWFjMGFjNWEyNDczZTFhYmY3YzNmZDUxNTkxIl0="{% endcomment %}
            {% comment %}/>{% endcomment %}
            {% comment %}<input{% endcomment %}
              {% comment %}type="hidden"{% endcomment %}
              {% comment %}class="gform_hidden"{% endcomment %}
              {% comment %}name="gform_target_page_number_3"{% endcomment %}
              {% comment %}id="gform_target_page_number_3"{% endcomment %}
              {% comment %}value="0"{% endcomment %}
            {% comment %}/>{% endcomment %}
            {% comment %}<input{% endcomment %}
              {% comment %}type="hidden"{% endcomment %}
              {% comment %}class="gform_hidden"{% endcomment %}
              {% comment %}name="gform_source_page_number_3"{% endcomment %}
              {% comment %}id="gform_source_page_number_3"{% endcomment %}
              {% comment %}value="1"{% endcomment %}
            {% comment %}/>{% endcomment %}
            {% comment %}<input type="hidden" name="gform_field_values" value="" />{% endcomment %}
          {% comment %}</div>{% endcomment %}
        {% comment %}</form>{% endcomment %}
      {% comment %}</div>{% endcomment %}
      <script type="text/javascript">
        jQuery(document).bind(
          "gform_post_render",
          function (event, formId, currentPage) {
            if (formId == 3) {
              if (typeof Placeholders != "undefined") {
                Placeholders.enable();
              }
            }
          }
        );
        jQuery(document).bind(
          "gform_post_conditional_logic",
          function (event, formId, fields, isInit) {}
        );
      </script>
      <script type="text/javascript">
        jQuery(document).ready(function () {
          jQuery(document).trigger("gform_post_render", [3, 1]);
        });
      </script>

    </div>
  </div>
</section>
