<section id="FAQSection" style="max-width: 1000px; margin: 100px auto;">
  <div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
  <h2>{{ faq_title }}</h2>
  <div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
  <div
    class="qubely-block-accordion qubely-block-016502"
    data-item-toggle="true"
  >
    <div class="wp-block-qubely-accordion-item qubely-block-fa0076">
      <div
        class="qubely-accordion-item qubely-type-fill qubely-accordion-active"
      >
        <div class="qubely-accordion-panel qubely-icon-position-right" style="background-color: {{ primary_color }} !important;">
          <span class="qubely-accordion-panel-handler" role="button"
            ><span class="qubely-accordion-panel-handler-label"
              >{{ faq_1 }}</span
            ><span class="qubely-accordion-icon fa fa-plus"></span
          ></span>
        </div>
        <div class="qubely-accordion-body" style="display: block">
          <div itemprop="text">
            <p>
              {{ faq_answer_1 }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="wp-block-qubely-accordion-item qubely-block-9a6cc3">
      <div class="qubely-accordion-item qubely-type-fill false">
        <div class="qubely-accordion-panel qubely-icon-position-right" style="background-color: {{ primary_color }} !important;">
          <span class="qubely-accordion-panel-handler" role="button"
            ><span class="qubely-accordion-panel-handler-label"
              >{{ faq_2 }}</span
            ><span class="qubely-accordion-icon fa fa-plus"></span
          ></span>
        </div>
        <div class="qubely-accordion-body">
          <div itemprop="text">
            <p>
              {{ faq_answer_2 }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="wp-block-qubely-accordion-item qubely-block-88a6ae">
      <div class="qubely-accordion-item qubely-type-fill false">
        <div class="qubely-accordion-panel qubely-icon-position-right" style="background-color: {{ primary_color }} !important;">
          <span class="qubely-accordion-panel-handler" role="button"
            ><span class="qubely-accordion-panel-handler-label"
              >{{ faq_3 }}</span
            ><span class="qubely-accordion-icon fa fa-plus"></span
          ></span>
        </div>
        <div class="qubely-accordion-body">
          <div itemprop="text">
            <p>
              {{ faq_answer_3 }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
