<!--Start of id="footer2Section"-->
<section id="footer2Section">
  <footer id="footer-wrap">
    <div class="container">
      <div class="row clearfix">
        <div class="col-sm-12 order-2 order-md-1 text-md-left col-md-auto">
          <div class="footer-copyright" style="color: #fff">
            2021 {{ school_details.name }}. All Rights Reserved. |
            {% comment %}<a href="terms/index.html">Terms</a>{% endcomment %}
          </div>
          <!-- col-md-6 -->
        </div>
        <!-- end footer-copyright -->
      </div>
      <!--/.row clearfix-->
    </div>
    <!--/.container-->
  </footer>
</section>
<!--End of id="footer2Section"-->
