<section id="footer1Section">
  <div id="bottom-wrap" class="footer" style="padding: 50px; background-color: {{ primary_color }}">
    <div class="container">
      <div class="row clearfix border-wrap">
        <div class="col-sm-6 col-lg-3">
          <div class="bottom-widget">
            <div id="nav_menu-5" class="widget widget_nav_menu">
              <div class="menu-footer-course-container">
                <ul id="menu-footer-course" class="menu">
                  <li
                    id="menu-item-430"
                    class="
                      menu-item
                      menu-item-type-custom
                      menu-item-object-custom
                      menu-item-430
                    "
                  >
                    <a  style="text-decoration: none" href="https://realztech.com">Realztech</a
                    >
                  </li>
                  <li
                    id="menu-item-431"
                    class="
                      menu-item
                      menu-item-type-custom
                      menu-item-object-custom
                      menu-item-431
                    "
                  >
                    <a style="text-decoration: none" href="/dashboard">Dashboard</a>
                  </li>
                  <li
                    id="menu-item-442"
                    class="
                      menu-item
                      menu-item-type-post_type
                      menu-item-object-page menu-item-442
                    "
                  >
                    <a  style="text-decoration: none" href="/login">Login/Signup</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <div class="bottom-widget">
            <div id="nav_menu-3" class="widget widget_nav_menu">
              <div class="menu-footer-about-container">
                <ul id="menu-footer-about" class="menu">
                  <li
                    id="menu-item-434"
                    class="
                      menu-item
                      menu-item-type-post_type
                      menu-item-object-page menu-item-434
                    "
                  >
                    <a  style="text-decoration: none" href="https://www.realztech.com/about/">About Us</a>
                  </li>
                  <li
                    id="menu-item-435"
                    class="
                      menu-item
                      menu-item-type-post_type
                      menu-item-object-page menu-item-435
                    "
                  >
                    <a  style="text-decoration: none" href="https://www.realztech.com/contact/">Contact Us</a>
                  </li>
                  <li
                    id="menu-item-440"
                    class="
                      menu-item
                      menu-item-type-post_type
                      menu-item-object-page menu-item-440
                    "
                  >
                    <a  style="text-decoration: none" href="https://www.realztech.com/contact/">Help and Support</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="widget_text bottom-widget">
            <div
              id="custom_html-3"
              class="widget_text widget widget_custom_html"
            >
              <div class="textwidget custom-html-widget">
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <div class="bottom-widget">
            <div
              id="skillate_core_social_share_widget-2"
              class="widget widget_skillate_core_social_share_widget"
            >
              <ul class="themeum-social-share">
                <li>
                  <a
                    class="facebook"
                    href="{{ facebook_url }}"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>

                <li>
                  <a
                    class="instagram"
                    href="{{ instagram_url }}"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>

                <li>
                  <a
                    class="twitter"
                    href="{{ twitter_url }}"
                    target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>

                <li>
                  <a
                    class="linkedin"
                    href="{{ linkedin_url }}"
                    target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/#bottom-wrap-->
</section>
