<!DOCTYPE html>
<html lang="en-US">
  <head>
    <base href="{{ baseHref }}" target="_blank">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home Page - {{ school_details.name }}</title>
    <link rel="canonical" href="index.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home Page - {{ school_details.name }}" />
    <meta
      property="og:description"
      content="{{ school_details.tagline }}"
    />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="{{ school_details.name }}" />

    <link
      rel="stylesheet"
      id="wp-block-library-css"
      href="main-assets/style.min76f3.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      id="qubely-bundle-css"
      href="main-assets/plugins/qubely/assets/css/qubely.bundle.min8233.css?ver=1.6.8"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="qubely-font-awesome-css"
      href="main-assets/plugins/qubely/assets/css/font-awesome.min8233.css?ver=1.6.8"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="tutor-frontend-css"
      href="main-assets/plugins/tutor/assets/css/tutor-front.min10f0.css?ver=1.8.6"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="woocommerce-general-css"
      href="main-assets/plugins/woocommerce/assets/css/woocommerce3c21.css?ver=5.1.1"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="bootstrap-min-css"
      href="main-assets/themes/skillate/css/bootstrap.mindc98.css?ver=all"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="fontawesome.min-css"
      href="main-assets/themes/skillate/css/fontawesome.mindc98.css?ver=all"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="skillate-main-css"
      href="main-assets/themes/skillate/css/maindc98.css?ver=all"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="skillate-responsive-css"
      href="main-assets/themes/skillate/css/responsivedc98.css?ver=all"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="gforms_formsmain_css-css"
      href="main-assets/plugins/gravityforms/css/formsmain.minf560.css?ver=2.4.20"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="gforms_ready_class_css-css"
      href="main-assets/plugins/gravityforms/css/readyclass.minf560.css?ver=2.4.20"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="gforms_browsers_css-css"
      href="main-assets/plugins/gravityforms/css/browsers.minf560.css?ver=2.4.20"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="main-assets/jquery.min9d52.js"
      id="jquery-core-js"
    ></script>

    <script
      type="text/javascript"
      src="main-assets/plugins/skillate-core/assets/js/custom76f3.js?ver=5.7.3"
      id="custom-js"
    ></script>
    <link
      rel="stylesheet"
      id="mycss-css"
      href="main-assets/mycss.css"
      type="text/css"
      media="all"
    />
  </head>

  <body
    class="
      home
      page-template
      page-template-homepage
      page-template-homepage-php
      page
      page-id-26
      custom-background
      theme-skillate
      qubely qubely-frontend
      woocommerce-no-js
      fullwidth-bg
      body-content
    "
  >
    <div id="page" class="hfeed site">
      <a class="skip-link screen-reader-text" href="#content"
        >Skip to content</a
      >
      <header id="masthead" class="site-header header-solid enable-sticky"  style="background-color: {{ primary_color }}">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="primary-menu">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <div class="skillate-navbar-header">
                      <div class="logo-wrapper">
                        <a class="skillate-navbar-brand" href="https://{{ school_domain }}">
                          <img
                            class="enter-logo img-responsive"
                            src="{{ header_logo }}"
                            alt="Logo"
                            title="Logo"
                            style="max-height: 50px"
                          />
                        </a>
                      </div>
                    </div>
                    <!--/#skillate-navbar-header-->
                  </div>
                  <!--/.col-sm-2-->
                  <div class="col-auto thm-cat-col d-none d-lg-block"></div>
                  <!--/.thm-cat-col-->
                  <div style="flex-grow: 1"></div>

                  <!-- Primary Menu -->
                  <div class="col col-lg-auto common-menu space-wrap">
                    <div class="header-common-menu">
                      <div id="main-menu" class="common-menu-wrap">
                        <ul id="menu-main" class="nav">
                          <li
                            id="menu-item-216"
                            class="
                              menu-item
                              menu-item-type-custom
                              menu-item-object-custom
                              menu-item-has-children
                              menu-item-216
                            "
                          >
                            <a href="https://{{ school_domain }}"
                              >Courses</a
                            >
                            <ul class="sub-menu">
                              {% for course in top_courses_items  %}
                                  <li
                                          id="menu-item-1300"
                                          class="
                                  menu-item
                                  menu-item-type-post_type
                                  menu-item-object-page menu-item-1300
                                "
                                  >
                                    <a href="https://{{ school_domain }}/course-details/{{ course.slug }}">
                                    {{ course.name }}
                                    </a>
                                  </li>
                              {% endfor %}
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <!--/.col-sm-9-->
                    </div>
                    <!-- header-common-menu -->
                  </div>
                  <!-- common-menu -->
                  <div class="skillate-header-login d-inline-block ml-4">
                    <div class="header-login-wrap">
                      {% comment %}<a data-toggle="modal" href="#modal-login"> Login </a>{% endcomment %}
                      <a class="dashboard-button" href="https://{{ school_domain }}/dashboard">Go to dashboard </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- For Megamenu -->
        </div>
        <!--row-->
        <!--			</div>-->
        <!--/.container-->
      </header>
      <!-- header -->

      <div id="content" class="site-content">
        <section id="primary" class="content-area">
          <main id="main" class="site-main">
            <article
              id="post-26"
              class="entry post-26 page type-page status-publish hentry"
            >
              <div class="entry-content" style="max-width: none; padding:0">
                {% comment %}Dynmic section begin {% endcomment %}
                {{ template_group_layouts }}
                {% comment %}Dynmic section end {% endcomment %}
              </div>
            </article>
          </main>
          <!-- #main -->
        </section>
        <!-- #primary -->
      </div>
      <!-- .site-content -->
      <!--		</section>-->

    </div>
    <!-- #page -->

    <script
      type="text/javascript"
      src="main-assets/plugins/qubely/assets/js/common-script.min8233.js?ver=1.6.8"
      id="qubely-block-common-js"
    ></script>
    <script type="text/javascript" src="https://assets.media.pledre.com/school-templates/pledre-theme.js"></script>
    <script>
      console.log("running script")
      let userType = window.pledreTheme.auth.getUserType()
      let message = "Go to dashboard"
      let authHref = "/dashboard"
      switch (userType){
        case "teacher":
          message = "Teacher console"
          href="/dashboard"
          break
        case "student":
          message = "Class console"
          href="/dashboard"
          break
        case "admin":
          message = "Admin dashboard"
          href="/dashboard"
          break
        default:
          message = "Login / Signup"
          href="/login"
      }

      const dashboardButtons = document.getElementsByClassName('dashboard-button')
      for(let i = 0; i< dashboardButtons.length; i++){
        const btn = dashboardButtons[i]
        btn.innerText = message
        btn.setAttribute('href', `https://{{ school_domain }}${href}`)
      }
    </script>
  </body>
</html>
