<section id="needHelpSection">
  <div class="wp-block-qubely-row alignfull qubely-section qubely-block-5cea6a" style="background-color: {{ primary_color }};">
    <div class="qubely-row-overlay"></div>
    <div class="qubely-container">
      <div class="qubely-row">
        <div
          class="
            wp-block-qubely-column
            qubely-column qubely-column-front qubely-block-cbaf81
          "
        >
          <div class="qubely-column-inner">
            <div class="wp-block-qubely-row qubely-section qubely-block-c1f25b">
              <div class="qubely-row-overlay"></div>
              <div class="qubely-container-fluid">
                <div class="qubely-row">
                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-872dc4
                    "
                  >
                    <div class="qubely-column-inner">
                      <div class="wp-block-qubely-heading qubely-block-c4364a">
                        <div class="qubely-block-heading">
                          <div class="qubely-heading-container">
                            <h3 class="qubely-heading-selector">
                              {{ need_help_title }}
                            </h3>
                          </div>
                        </div>
                      </div>

                      <div class="wp-block-qubely-heading qubely-block-31c3bb">
                        <div class="qubely-block-heading">
                          <div class="qubely-heading-container">
                            <h3 class="qubely-heading-selector">
                              {{ need_help_subtitle }}
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-2bc449
                    "
                  >
                    <div class="qubely-column-inner">
                      <div class="wp-block-qubely-button qubely-block-840bb6">
                        <div class="qubely-block-btn-wrapper">
                          <div class="qubely-block-btn">
                            <a
                              class="qubely-block-btn-anchor is-large"
                              style="background-color: {{ secondary_color }}; border-color: {{ secondary_color }}"
                              href="https://{{ school_domain }}/dashboard"
                              >{{ need_help_button_title }}<i
                                class="qubely-btn-icon fas fa-angle-right"
                              ></i
                            ></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
