<section id="partnerSection">
  <div class="footer-top-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div dir="rtl" class="client-logo-carousel" data-autoplay="true">
            <div class="client-logo-single-widget">
              <div id="media_image-14" class="widget widget_media_image">
                <img
                  width="300"
                  height="109"
                  src="{{ partner_image_1 }}"
                  class="image wp-image-1169 attachment-medium size-medium"
                  alt=""
                  loading="lazy"
                  style="max-width: 100%; height: auto"
                />
              </div>
            </div>
            <div class="client-logo-single-widget">
              <div id="media_image-15" class="widget widget_media_image">
                <img
                  width="300"
                  height="300"
                  src="{{ partner_image_2 }}"
                  class="image wp-image-1168 attachment-medium size-medium"
                  alt=""
                  loading="lazy"
                  style="max-width: 100%; height: auto"
                />
              </div>
            </div>
            <div class="client-logo-single-widget">
              <div id="media_image-19" class="widget widget_media_image">
                <img
                  width="300"
                  height="75"
                  src="{{ partner_image_3 }}"
                  class="image wp-image-1167 attachment-medium size-medium"
                  alt=""
                  loading="lazy"
                  style="max-width: 100%; height: auto"
                />
              </div>
            </div>
            <div class="client-logo-single-widget">
              <div id="media_image-17" class="widget widget_media_image">
                <img
                  width="195"
                  height="67"
                  src="{{ partner_image_4 }}"
                  class="image wp-image-1151 attachment-full size-full"
                  alt=""
                  loading="lazy"
                  style="max-width: 100%; height: auto"
                />
              </div>
            </div>
            <div class="client-logo-single-widget">
              <div id="media_image-16" class="widget widget_media_image">
                <img
                  width="300"
                  height="35"
                  src="{{ partner_image_5 }}"
                  class="image wp-image-1150 attachment-medium size-medium"
                  alt=""
                  loading="lazy"
                  style="max-width: 100%; height: auto"
                />
              </div>
            </div>
            <div class="client-logo-single-widget">
              <div id="media_image-7" class="widget widget_media_image">
                <img
                  width="300"
                  height="87"
                  src="{{ partner_image_6 }}"
                  class="image wp-image-1149 attachment-medium size-medium"
                  alt=""
                  loading="lazy"
                  style="max-width: 100%; height: auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
