<section id="testimonialSection">
  <div class="wp-block-qubely-row alignfull qubely-section qubely-block-99cc4f" style="background-image: url('{{ testimonial_bg_image }}')">
    <div class="qubely-row-overlay"></div>
    <div class="qubely-container">
      <div class="qubely-row">
        <div
          class="
            wp-block-qubely-column
            qubely-column qubely-column-front qubely-block-f618c7
          "
        >
          <div class="qubely-column-inner">
            <div class="wp-block-qubely-row qubely-section qubely-block-808fdf">
              <div class="qubely-row-overlay"></div>
              <div class="qubely-container-fluid">
                <div class="qubely-row">
                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-63bbd0
                    "
                  >
                    <div class="qubely-column-inner"></div>
                  </div>

                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-bca712
                    "
                  >
                    <div class="qubely-column-inner">
                      <div class="wp-block-qubely-text qubely-block-25fcc9">
                        <div class="qubely-block-text">
                          <div
                            class="
                              qubely-block-text-title-container
                              qubely-separator-position-top
                            "
                          >
                            <div class="qubely-block-text-title-inner">
                              <h2 class="qubely-block-text-title">
                                <strong>Testimonials</strong>
                              </h2>
                            </div>
                          </div>
                          <p>What people are saying about our courses.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-215915
                    "
                  >
                    <div class="qubely-column-inner"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wp-block-qubely-row qubely-section qubely-block-48e49c">
              <div class="qubely-row-overlay"></div>
              <div class="qubely-container-fluid">
                <div class="qubely-row">
                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-4c947f
                    "
                  >
                    <div class="qubely-column-inner">
                      <div
                        class="wp-block-qubely-testimonial qubely-block-886ccd"
                        data-qubelyanimation='{"animation":"fade","name":"fadeCenter","repeat":"once","direction":"Center","duration":1000,"delay":0,"curve":"ease-in-out","openAnimation":1}'
                      >
                        <div class="qubely-block-testimonial">
                          <div class="qubely-testimonial-quote">
                            <span
                              class="qubely-quote-icon fas fa-quote-left"
                            ></span>
                          </div>
                          <div class="qubely-testimonial-content">
                            <div>
                              <em
                                >“ {{ testimonial_1 }}”</em
                              >
                            </div>
                          </div>
                          <div class="qubely-testimonial-author">
                            <div class="">
                              <div class="qubely-testimonial-author-info">
                                <div class="qubely-testimonial-author-name">
                                  <span>{{ testimonial_1_name }}</span>
                                </div>
                                <div
                                  class="qubely-testimonial-author-designation"
                                >
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-ef881b
                    "
                  >
                    <div class="qubely-column-inner">
                      <div
                        class="wp-block-qubely-testimonial qubely-block-fbcd2e"
                        data-qubelyanimation='{"animation":"fade","name":"fadeCenter","repeat":"once","direction":"Center","duration":1000,"delay":0,"curve":"ease-in-out","openAnimation":1}'
                      >
                        <div class="qubely-block-testimonial">
                          <div class="qubely-testimonial-quote">
                            <span
                              class="qubely-quote-icon fas fa-quote-left"
                            ></span>
                          </div>
                          <div class="qubely-testimonial-content">
                            <div>
                              <em
                                >“ {{ testimonial_2 }}”</em
                              >
                            </div>
                          </div>
                          <div class="qubely-testimonial-author">
                            <div class="">
                              <div class="qubely-testimonial-author-info">
                                <div class="qubely-testimonial-author-name">
                                  <span>{{ testimonial_2_name }}</span>
                                </div>
                                <div
                                  class="qubely-testimonial-author-designation"
                                >
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    class="
                      wp-block-qubely-column
                      qubely-column qubely-column-front qubely-block-ceeb9c
                    "
                  >
                    <div class="qubely-column-inner">
                      <div
                        class="wp-block-qubely-testimonial qubely-block-f11400"
                        data-qubelyanimation='{"animation":"fade","name":"fadeCenter","repeat":"once","direction":"Center","duration":1000,"delay":0,"curve":"ease-in-out","openAnimation":1}'
                      >
                        <div class="qubely-block-testimonial">
                          <div class="qubely-testimonial-quote">
                            <span
                              class="qubely-quote-icon fas fa-quote-left"
                            ></span>
                          </div>
                          <div class="qubely-testimonial-content">
                            <div>
                              <em
                                >“ {{ testimonial_3 }}”</em
                              >
                            </div>
                          </div>
                          <div class="qubely-testimonial-author">
                            <div class="">
                              <div class="qubely-testimonial-author-info">
                                <div class="qubely-testimonial-author-name">
                                  <span>{{ testimonial_3_name }}</span>
                                </div>
                                <div
                                  class="qubely-testimonial-author-designation"
                                >
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
