<section id="whySection1">
  <div class="wp-block-qubely-row alignfull qubely-section qubely-block-660b50">
    <div class="qubely-row-overlay"></div>
    <div class="qubely-container">
      <div class="qubely-row">
        <div
          class="
            wp-block-qubely-column
            qubely-column qubely-column-front qubely-block-95cc2c
          "
        >
          <div class="qubely-column-inner">
            <div class="wp-block-qubely-heading qubely-block-30779a">
              <div class="qubely-block-heading">
                <div class="qubely-heading-container">
                  <h2 class="qubely-heading-selector"></h2>
                </div>
                <h1 class="qubely-sub-heading-selector">
                  Why Choose
                  <em><strong>{{ school_details.name }}</strong></em>
                </h1>
              </div>
            </div>

            <div class="wp-block-qubely-text qubely-block-d0577a">
              <div class="qubely-block-text">
               {{ why_school_body }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
