<section id="whySection2">
  <div class="wp-block-qubely-row alignfull qubely-section qubely-block-8b3790">
    <div class="qubely-row-overlay"></div>
    <div class="qubely-container">
      <div class="qubely-row">
        <div
          class="
            wp-block-qubely-column
            qubely-column qubely-column-front qubely-block-d5e921
          "
        >
          <div class="qubely-column-inner">
            <div class="wp-block-columns">
              <div class="wp-block-column">
                <figure class="wp-block-image size-large mb-0 mt-0">
                  <img
                    loading="lazy"
                    width="413"
                    height="800"
                    src="{{ why_2_image }}"
                    alt=""
                    class="wp-image-713"
                    sizes="(max-width: 413px) 100vw, 413px"
                  />
                </figure>
              </div>

              <div class="wp-block-column">
                <div
                  style="height: 110px"
                  aria-hidden="true"
                  class="wp-block-spacer"
                ></div>

                <h2>Why {{ school_details.name }}?</h2>

                <div
                  style="height: 20px"
                  aria-hidden="true"
                  class="wp-block-spacer"
                ></div>

                <p class="has-regular-font-size">
                 {{ why_school_2_body }}
                </p>

                <div
                  style="height: 20px"
                  aria-hidden="true"
                  class="wp-block-spacer"
                ></div>

                <div
                  class="wp-block-qubely-advancedlist qubely-block-0c2447"
                  data-qubelyanimation='{"animation":"slide","name":"slideRight","repeat":"once","direction":"Right","duration":1000,"delay":0,"curve":"ease-out","openAnimation":1}'
                >
                  <div class="qubely-block-advanced-list qubely-alignment-left">
                    <ul
                      class="
                        qubely-list
                        qubely-list-type-unordered
                        qubely-list-bullet-arrow-alt-circle-right
                      "
                    >
                      <li>
                        {{ why_2_item_1 }}
                      </li>
                      <li>
                        {{ why_2_item_2 }}</li>
                      <li>{{ why_2_item_3 }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
