:root {
    --qubely-color-1: #696CFF;
    --qubely-color-2: #04C3EC;
    --qubely-color-3: #363636;
    --qubely-color-4: #BBC0D4;
    --qubely-color-5: #FFFFFF;
}

:root {
    --qubely-typo1-font-size: 60px;
    --qubely-typo1-line-height: 80px;
    --qubely-typo1-letter-spacing: 0px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo1-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo1-font-family: 'Roboto', sans-serif;
    --qubely-typo1-font-weight: 700;
    --qubely-typo1-font-style: normal;
}

:root {
    --qubely-typo2-font-size: 48px;
    --qubely-typo2-line-height: 64px;
    --qubely-typo2-letter-spacing: 0px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo2-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo2-font-family: 'Roboto', sans-serif;
    --qubely-typo2-font-weight: 700;
    --qubely-typo2-font-style: normal;
}

:root {
    --qubely-typo3-font-size: 36px;
    --qubely-typo3-line-height: 48px;
    --qubely-typo3-letter-spacing: 0px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo3-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo3-font-family: 'Roboto', sans-serif;
    --qubely-typo3-font-weight: 700;
    --qubely-typo3-font-style: normal;
}

:root {
    --qubely-typo4-font-size: 30px;
    --qubely-typo4-line-height: 36px;
    --qubely-typo4-letter-spacing: 0px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo4-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo4-font-family: 'Roboto', sans-serif;
    --qubely-typo4-font-weight: 700;
    --qubely-typo4-font-style: normal;
}

:root {
    --qubely-typo5-font-size: 18px;
    --qubely-typo5-line-height: 28px;
    --qubely-typo5-letter-spacing: 0px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo5-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo5-font-family: 'Roboto', sans-serif;
    --qubely-typo5-font-weight: 700;
    --qubely-typo5-font-style: normal;
}

:root {
    --qubely-typo6-font-size: 16px;
    --qubely-typo6-line-height: 24px;
    --qubely-typo6-letter-spacing: 0px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo6-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo6-font-family: 'Roboto', sans-serif;
    --qubely-typo6-font-weight: 700;
    --qubely-typo6-font-style: normal;
}

:root {
    --qubely-typo7-font-size: 18px;
    --qubely-typo7-line-height: 24px;
    --qubely-typo7-letter-spacing: 0px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo7-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo7-font-family: 'Roboto', sans-serif;
}

:root {
    --qubely-typo8-font-size: 14px;
    --qubely-typo8-line-height: 22px;
    --qubely-typo8-letter-spacing: 0px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo8-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo8-font-family: 'Roboto', sans-serif;
}

:root {
    --qubely-typo9-font-size: 16px;
    --qubely-typo9-line-height: 19px;
    --qubely-typo9-letter-spacing: 3px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo9-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo9-font-family: 'Roboto', sans-serif;
    --qubely-typo9-font-weight: 700;
    --qubely-typo9-font-style: normal;
    --qubely-typo9-text-transform: uppercase;
}

:root {
    --qubely-typo10-font-size: 14px;
    --qubely-typo10-line-height: 19px;
    --qubely-typo10-letter-spacing: 3px;
}

@media (max-width: 991px) {
    :root {
        --qubely-typo10-letter-spacing: 0px;
    }
}

:root {
    --qubely-typo10-font-family: 'Roboto', sans-serif;
    --qubely-typo10-font-weight: 700;
    --qubely-typo10-font-style: normal;
    --qubely-typo10-text-transform: uppercase;
}

@media (min-width: 576px) {
    .qubely-section .qubely-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .qubely-section .qubely-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .qubely-section .qubely-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .qubely-section .qubely-container {
        max-width: 1140px;
    }
}

.qubely-block-05d4e5.qubely-section {
    padding: 80px 0px 80px 0px;
}

.qubely-block-05d4e5 .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-05d4e5 .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-05d4e5 .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-05d4e5 .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-05d4e5.qubely-section {
        padding: 80px 0px 80px 0px;
    }

    .qubely-block-05d4e5 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-05d4e5 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-05d4e5 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-05d4e5 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-05d4e5 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-05d4e5 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-05d4e5 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-05d4e5 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-05d4e5 {
    position: relative;
}

.qubely-block-05d4e5 {
    z-index: 0;
}

.qubely-block-05d4e5.qubely-section {
    background-color: #f5f4f9;
    /*background-image: url(uploads/2020/06/mainbanner.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.qubely-block-05d4e5>.qubely-row-overlay {
    background-color: #121111;
}

.qubely-block-05d4e5>.qubely-row-overlay {
    opacity: 0.76;
}

.qubely-block-433ace.qubely-column-front {
    flex: 62.95%;
}

.qubely-block-433ace.qubely-column-front {
    max-width: 62.95%;
}

.qubely-block-433ace>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-433ace>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-433ace.qubely-column-front {
        flex: 60%;
    }

    .qubely-block-433ace.qubely-column-front {
        max-width: 60%;
    }
}

@media (max-width: 991px) {
    .qubely-block-433ace.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-433ace.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-433ace {
    position: relative;
}

.qubely-block-433ace {
    z-index: 0;
}

.qubely-block-dc1af3 {
    padding-bottom: 0px;
}

.qubely-block-dc1af3 .qubely-block-heading .qubely-heading-selector {
    font-size: 57px;
    line-height: 61.032px !important;
}

.qubely-block-dc1af3 .qubely-block-heading .qubely-sub-heading-selector {
    font-size: 16px;
}

@media (max-width: 1199px) {
    .qubely-block-dc1af3 .qubely-block-heading .qubely-heading-selector {
        font-size: 45px;
        line-height: 51px !important;
    }
}

@media (max-width: 991px) {
    .qubely-block-dc1af3 .qubely-block-heading .qubely-heading-selector {
        font-size: 30px;
        line-height: 41px !important;
    }
}

.qubely-block-dc1af3 {
    position: relative;
}

.qubely-block-dc1af3 {
    z-index: 0;
}

.qubely-block-dc1af3 .qubely-block-heading .qubely-heading-selector {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.qubely-block-dc1af3 .qubely-block-heading .qubely-sub-heading-selector {}

.qubely-block-dc1af3 .qubely-block-heading .qubely-heading-selector {
    color: #ffffff;
}

.qubely-block-15ab7e {
    padding-top: 27px;
    padding-bottom: 0px;
}

.qubely-block-15ab7e .qubely-block-text {
    text-align: left;
}

.qubely-block-15ab7e .qubely-block-text,
.qubely-block-15ab7e .qubely-block-text p.rich-text {
    font-size: 24px;
}

.qubely-block-15ab7e .qubely-block-text-title-container .qubely-block-text-title-inner .qubely-block-text-title {
    font-size: 24px;
}

.qubely-block-15ab7e .qubely-block-text-title-inner {
    margin-bottom: 10px;
}

.qubely-block-15ab7e .qubely-block-text .qubely-block-text-title-container .qubely-block-text-sub-title-container .qubely-block-text-sub-title {
    font-size: 16px;
}

@media (max-width: 1199px) {
    .qubely-block-15ab7e {
        padding-top: 10px;
    }

    .qubely-block-15ab7e .qubely-block-text,
    .qubely-block-15ab7e .qubely-block-text p.rich-text {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .qubely-block-15ab7e {
        padding-top: 10px;
    }

    .qubely-block-15ab7e .qubely-block-text,
    .qubely-block-15ab7e .qubely-block-text p.rich-text {
        font-size: 16px;
    }
}

.qubely-block-15ab7e {
    position: relative;
}

.qubely-block-15ab7e {
    z-index: 0;
}

.qubely-block-15ab7e .qubely-block-text,
.qubely-block-15ab7e .qubely-block-text p.rich-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.qubely-block-15ab7e .qubely-block-text>* {
    color: #ffffff;
}

.qubely-block-15ab7e .qubely-block-text-title-container .qubely-block-text-title-inner .qubely-block-text-title {}

.qubely-block-15ab7e .qubely-block-text .qubely-block-text-title-container .qubely-block-text-sub-title-container .qubely-block-text-sub-title {}

.qubely-block-95b980 {
    padding-top: 55px;
}

.qubely-block-95b980 .qubely-block-btn-wrapper {
    text-align: left;
}

.qubely-block-95b980 .qubely-block-btn-wrapper .qubely-block-btn .qubely-block-btn-anchor {
    font-size: 23px;
}

.qubely-block-95b980 .qubely-block-btn-anchor {
    border-width: 2px;
    ;
    border-color: #ee1c25;
    border-style: solid;
    ;
}

.qubely-block-95b980 .qubely-block-btn-anchor {
    border-radius: 100px;
    ;
}

.qubely-block-95b980 .qubely-btn-icon {
    font-size: 30px
}

.qubely-block-95b980 .qubely-btn-icon {
    margin-left: 13px;
}

@media (max-width: 1199px) {
    .qubely-block-95b980 {
        padding-top: 25px;
    }

    .qubely-block-95b980 .qubely-block-btn-wrapper .qubely-block-btn .qubely-block-btn-anchor {
        font-size: 14px;
    }

    .qubely-block-95b980 .qubely-block-btn-anchor {
        border-color: #ee1c25;
        border-style: solid;
        ;
    }
}

@media (max-width: 991px) {
    .qubely-block-95b980 {
        padding-top: 15px;
    }

    .qubely-block-95b980 .qubely-block-btn-wrapper .qubely-block-btn .qubely-block-btn-anchor {
        font-size: 14px;
    }

    .qubely-block-95b980 .qubely-block-btn-anchor {
        border-color: #ee1c25;
        border-style: solid;
        ;
    }

    .qubely-block-95b980 .qubely-block-btn-anchor {
        border-radius: 100px;
        ;
    }
}

.qubely-block-95b980 {
    position: relative;
}

.qubely-block-95b980 {
    z-index: 0;
}

.qubely-block-95b980 .qubely-block-btn-wrapper .qubely-block-btn .qubely-block-btn-anchor {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.qubely-block-95b980 .qubely-block-btn-anchor {
    color: #fff;
}

.qubely-block-95b980 .qubely-block-btn-anchor:hover {
    color: #ffffff;
}

.qubely-block-95b980 .qubely-block-btn-anchor {
    background-image: none;
    background-color: #ee1c25;
}

.qubely-block-95b980 .qubely-block-btn-anchor:before {
    background-image: none;
    background-color: #ca111a;
}

.qubely-block-95b980 .qubely-block-btn-anchor:hover {
    border-color: #ca111a;
}

.qubely-block-95b980 .qubely-block-btn-anchor {
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .2);
}

.qubely-block-a8708d.qubely-column-front {
    flex: 37.05%;
}

.qubely-block-a8708d.qubely-column-front {
    max-width: 37.05%;
}

.qubely-block-a8708d>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-a8708d>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-a8708d.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-a8708d.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-a8708d.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-a8708d.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-a8708d {
    position: relative;
}

.qubely-block-a8708d {
    z-index: 0;
}

.qubely-block-3bccc7.qubely-section {
    padding: 40px 0px 40px 0px;
}

.qubely-block-3bccc7 .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-3bccc7 .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-3bccc7 .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-3bccc7 .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-3bccc7 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-3bccc7 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-3bccc7 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-3bccc7 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-3bccc7 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-3bccc7 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-3bccc7 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-3bccc7 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-3bccc7 {
    position: relative;
}

.qubely-block-3bccc7 {
    z-index: 0;
}

.qubely-block-3bccc7.qubely-section {
    background-color: #00263b;
}

.qubely-block-3bccc7>.qubely-row-overlay {
    opacity: .8;
}

.qubely-block-2da56d.qubely-column-front {
    flex: 100%;
}

.qubely-block-2da56d.qubely-column-front {
    max-width: 100%;
}

.qubely-block-2da56d>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-2da56d>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-2da56d.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-2da56d.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-2da56d.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-2da56d.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-2da56d {
    position: relative;
}

.qubely-block-2da56d {
    z-index: 0;
}

.qubely-block-2177f2.qubely-section {
    padding: 0px 0px 0px 0px;
}

.qubely-block-2177f2 .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-2177f2 .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-2177f2 .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-2177f2 .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-2177f2 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-2177f2 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-2177f2 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-2177f2 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-2177f2 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-2177f2 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-2177f2 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-2177f2 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-2177f2 {
    position: relative;
}

.qubely-block-2177f2 {
    z-index: 0;
}

.qubely-block-2177f2>.qubely-row-overlay {
    opacity: .8;
}

.qubely-block-aa9efa.qubely-column-front {
    flex: 66%;
}

.qubely-block-aa9efa.qubely-column-front {
    max-width: 66%;
}

.qubely-block-aa9efa>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-aa9efa>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-aa9efa.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-aa9efa.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-aa9efa.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-aa9efa.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-aa9efa {
    position: relative;
}

.qubely-block-aa9efa {
    z-index: 0;
}

.qubely-block-1e44f4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-1e44f4 {
    position: relative;
}

.qubely-block-1e44f4 {
    z-index: 0;
}

.qubely-block-1e44f4 .qubely-block-heading .qubely-heading-selector {}

.qubely-block-1e44f4 .qubely-block-heading .qubely-sub-heading-selector {}

.qubely-block-1e44f4 .qubely-block-heading .qubely-heading-selector {
    color: var(--qubely-color-5);
}

.qubely-block-168d93 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-168d93 .qubely-block-heading .qubely-heading-selector {
    font-size: 24px;
}

.qubely-block-168d93 {
    position: relative;
}

.qubely-block-168d93 {
    z-index: 0;
}

.qubely-block-168d93 .qubely-block-heading .qubely-heading-selector {}

.qubely-block-168d93 .qubely-block-heading .qubely-sub-heading-selector {}

.qubely-block-168d93 .qubely-block-heading .qubely-heading-selector {
    color: #fc0202;
}

.qubely-block-0f930c.qubely-column-front {
    flex: 34%;
}

.qubely-block-0f930c.qubely-column-front {
    max-width: 34%;
}

.qubely-block-0f930c>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-0f930c>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-0f930c.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-0f930c.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-0f930c.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-0f930c.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-0f930c {
    position: relative;
}

.qubely-block-0f930c {
    z-index: 0;
}

.qubely-block-7e5951 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-7e5951 .qubely-block-btn-wrapper {
    text-align: center;
}

.qubely-block-7e5951 .qubely-block-btn-anchor {
    border-width: 1px;
    ;
    border-color: #ef1c25;
    border-style: solid;
    ;
}

.qubely-block-7e5951 .qubely-block-btn-anchor {
    border-radius: 86px;
    ;
}

.qubely-block-7e5951 .qubely-btn-icon {
    font-size: 27px
}

.qubely-block-7e5951 .qubely-btn-icon {
    margin-left: 15px;
}

@media (max-width: 1199px) {
    .qubely-block-7e5951 .qubely-block-btn-anchor {
        border-color: #ef1c25;
        border-style: solid;
        ;
    }
}

@media (max-width: 991px) {
    .qubely-block-7e5951 .qubely-block-btn-anchor {
        border-color: #ef1c25;
        border-style: solid;
        ;
    }
}

.qubely-block-7e5951 {
    position: relative;
}

.qubely-block-7e5951 {
    z-index: 0;
}

.qubely-block-7e5951 .qubely-block-btn-anchor {
    color: #ffffff;
}

.qubely-block-7e5951 .qubely-block-btn-anchor:hover {
    color: #fff;
}

.qubely-block-7e5951 .qubely-block-btn-anchor:before {
    background-image: none;
    background-color: #ef1c25;
}

.qubely-block-660b50.qubely-section {
    padding: 50px 0px 70px 0px;
}

.qubely-block-660b50 .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-660b50 .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-660b50 .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-660b50 .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-660b50 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-660b50 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-660b50 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-660b50 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-660b50 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-660b50 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-660b50 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-660b50 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-660b50 {
    position: relative;
}

.qubely-block-660b50 {
    z-index: 0;
}

.qubely-block-660b50.qubely-section {
    background-color: #f2f2f2;
}

.qubely-block-660b50>.qubely-row-overlay {
    opacity: .8;
}

.qubely-block-95cc2c.qubely-column-front {
    flex: 100%;
}

.qubely-block-95cc2c.qubely-column-front {
    max-width: 100%;
}

.qubely-block-95cc2c>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-95cc2c>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-95cc2c.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-95cc2c.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-95cc2c.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-95cc2c.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-95cc2c {
    position: relative;
}

.qubely-block-95cc2c {
    z-index: 0;
}

.qubely-block-30779a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-30779a {
    text-align: left;
}

.qubely-block-30779a .qubely-block-heading .qubely-sub-heading-selector {
    margin-top: 18px;
}

.qubely-block-30779a {
    position: relative;
}

.qubely-block-30779a {
    z-index: 0;
}

.qubely-block-30779a .qubely-block-heading .qubely-heading-selector {}

.qubely-block-30779a .qubely-block-heading .qubely-sub-heading-selector {}

.qubely-block-30779a .qubely-block-heading .qubely-sub-heading-selector {
    color: #333;
}

.qubely-block-d0577a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-d0577a .qubely-block-text {
    text-align: left;
}

.qubely-block-d0577a .qubely-block-text,
.qubely-block-d0577a .qubely-block-text p.rich-text {
    font-size: 20px;
    line-height: 1.561em !important;
}

.qubely-block-d0577a .qubely-block-text-title-container .qubely-block-text-title-inner .qubely-block-text-title {
    font-size: 24px;
}

.qubely-block-d0577a .qubely-block-text-title-inner {
    margin-bottom: 10px;
}

.qubely-block-d0577a .qubely-block-text .qubely-block-text-title-container .qubely-block-text-sub-title-container .qubely-block-text-sub-title {
    font-size: 16px;
}

.qubely-block-d0577a {
    position: relative;
}

.qubely-block-d0577a {
    z-index: 0;
}

.qubely-block-d0577a .qubely-block-text,
.qubely-block-d0577a .qubely-block-text p.rich-text {
    font-weight: 300;
    font-style: normal;
}

.qubely-block-d0577a .qubely-block-text-title-container .qubely-block-text-title-inner .qubely-block-text-title {}

.qubely-block-d0577a .qubely-block-text .qubely-block-text-title-container .qubely-block-text-sub-title-container .qubely-block-text-sub-title {}

.qubely-block-987c1c {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-987c1c .qubely-block-btn-wrapper {
    text-align: center;
}

.qubely-block-987c1c .qubely-block-btn-anchor {
    border-width: 2px;
    ;
    border-color: #ee1c25;
    border-style: solid;
    ;
}

.qubely-block-987c1c .qubely-block-btn-anchor {
    border-radius: 63px;
    ;
}

.qubely-block-987c1c .qubely-btn-icon {
    font-size: 31px
}

.qubely-block-987c1c .qubely-btn-icon {
    margin-left: 14px;
}

@media (max-width: 1199px) {
    .qubely-block-987c1c .qubely-block-btn-anchor {
        border-color: #ee1c25;
        border-style: solid;
        ;
    }
}

@media (max-width: 991px) {
    .qubely-block-987c1c .qubely-block-btn-anchor {
        border-color: #ee1c25;
        border-style: solid;
        ;
    }
}

.qubely-block-987c1c {
    position: relative;
}

.qubely-block-987c1c {
    z-index: 0;
}

.qubely-block-987c1c .qubely-block-btn-anchor {
    color: #fff;
}

.qubely-block-987c1c .qubely-block-btn-anchor:hover {
    color: #fff;
}

.qubely-block-987c1c .qubely-block-btn-anchor {
    background-image: none;
    background-color: #ee1c25;
}

.qubely-block-987c1c .qubely-block-btn-anchor:before {
    background-image: none;
    background-color: #bb141c;
}

.qubely-block-987c1c .qubely-block-btn-anchor:hover {
    border-color: #bb141c;
}

.qubely-block-987c1c .qubely-block-btn-anchor {
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .2);
}

.qubely-block-5cea6a.qubely-section {
    padding: 40px 0px 40px 0px;
}

.qubely-block-5cea6a .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-5cea6a .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-5cea6a .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-5cea6a .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-5cea6a .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-5cea6a .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-5cea6a .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-5cea6a .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-5cea6a .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-5cea6a .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-5cea6a .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-5cea6a .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-5cea6a {
    position: relative;
}

.qubely-block-5cea6a {
    z-index: 0;
}

.qubely-block-5cea6a.qubely-section {
    background-color: #00263b;
}

.qubely-block-5cea6a>.qubely-row-overlay {
    opacity: .8;
}

.qubely-block-cbaf81.qubely-column-front {
    flex: 100%;
}

.qubely-block-cbaf81.qubely-column-front {
    max-width: 100%;
}

.qubely-block-cbaf81>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-cbaf81>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-cbaf81.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-cbaf81.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-cbaf81.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-cbaf81.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-cbaf81 {
    position: relative;
}

.qubely-block-cbaf81 {
    z-index: 0;
}

.qubely-block-c1f25b.qubely-section {
    padding: 0px 0px 0px 0px;
}

.qubely-block-c1f25b .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-c1f25b .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-c1f25b .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-c1f25b .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-c1f25b .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-c1f25b .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-c1f25b .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-c1f25b .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-c1f25b .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-c1f25b .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-c1f25b .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-c1f25b .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-c1f25b {
    position: relative;
}

.qubely-block-c1f25b {
    z-index: 0;
}

.qubely-block-c1f25b>.qubely-row-overlay {
    opacity: .8;
}

.qubely-block-872dc4.qubely-column-front {
    flex: 66%;
}

.qubely-block-872dc4.qubely-column-front {
    max-width: 66%;
}

.qubely-block-872dc4>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-872dc4>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-872dc4.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-872dc4.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-872dc4.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-872dc4.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-872dc4 {
    position: relative;
}

.qubely-block-872dc4 {
    z-index: 0;
}

.qubely-block-c4364a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-c4364a {
    position: relative;
}

.qubely-block-c4364a {
    z-index: 0;
}

.qubely-block-c4364a .qubely-block-heading .qubely-heading-selector {}

.qubely-block-c4364a .qubely-block-heading .qubely-sub-heading-selector {}

.qubely-block-c4364a .qubely-block-heading .qubely-heading-selector {
    color: var(--qubely-color-5);
}

.qubely-block-31c3bb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-31c3bb .qubely-block-heading .qubely-heading-selector {
    font-size: 24px;
}

.qubely-block-31c3bb {
    position: relative;
}

.qubely-block-31c3bb {
    z-index: 0;
}

.qubely-block-31c3bb .qubely-block-heading .qubely-heading-selector {}

.qubely-block-31c3bb .qubely-block-heading .qubely-sub-heading-selector {}

.qubely-block-31c3bb .qubely-block-heading .qubely-heading-selector {
    color: #ef1c25;
}

.qubely-block-2bc449.qubely-column-front {
    flex: 34%;
}

.qubely-block-2bc449.qubely-column-front {
    max-width: 34%;
}

.qubely-block-2bc449>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-2bc449>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-2bc449.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-2bc449.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-2bc449.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-2bc449.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-2bc449 {
    position: relative;
}

.qubely-block-2bc449 {
    z-index: 0;
}

.qubely-block-840bb6 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-840bb6 .qubely-block-btn-wrapper {
    text-align: center;
}

.qubely-block-840bb6 .qubely-block-btn-anchor {
    border-width: 1px;
    ;
    border-color: #ef1c25;
    border-style: solid;
    ;
}

.qubely-block-840bb6 .qubely-block-btn-anchor {
    border-radius: 86px;
    ;
}

.qubely-block-840bb6 .qubely-btn-icon {
    font-size: 27px
}

.qubely-block-840bb6 .qubely-btn-icon {
    margin-left: 15px;
}

@media (max-width: 1199px) {
    .qubely-block-840bb6 .qubely-block-btn-anchor {
        border-color: #ef1c25;
        border-style: solid;
        ;
    }
}

@media (max-width: 991px) {
    .qubely-block-840bb6 .qubely-block-btn-anchor {
        border-color: #ef1c25;
        border-style: solid;
        ;
    }
}

.qubely-block-840bb6 {
    position: relative;
}

.qubely-block-840bb6 {
    z-index: 0;
}

.qubely-block-840bb6 .qubely-block-btn-wrapper .qubely-block-btn .qubely-block-btn-anchor {}

.qubely-block-840bb6 .qubely-block-btn-anchor {
    color: var(--qubely-color-5);
}

.qubely-block-840bb6 .qubely-block-btn-anchor:hover {
    color: #fff;
}

.qubely-block-840bb6 .qubely-block-btn-anchor:before {
    background-image: none;
    background-color: #ef1c25;
}

.qubely-block-840bb6 .qubely-block-btn-anchor:hover {
    border-color: #ef1c25;
}

.qubely-block-8b3790.qubely-section {
    padding: 0px 0px 0px 0px;
}

.qubely-block-8b3790 .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-8b3790 .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-8b3790 .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-8b3790 .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-8b3790 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-8b3790 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-8b3790 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-8b3790 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-8b3790 .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-8b3790 .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-8b3790 .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-8b3790 .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-8b3790 {
    position: relative;
}

.qubely-block-8b3790 {
    z-index: 0;
}

.qubely-block-8b3790.qubely-section {
    background-color: #f5f5f5;
}

.qubely-block-8b3790>.qubely-row-overlay {
    opacity: .8;
}

.qubely-block-d5e921.qubely-column-front {
    flex: 100%;
}

.qubely-block-d5e921.qubely-column-front {
    max-width: 100%;
}

.qubely-block-d5e921>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-d5e921>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-d5e921.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-d5e921.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-d5e921.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-d5e921.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-d5e921 {
    position: relative;
}

.qubely-block-d5e921 {
    z-index: 0;
}

.qubely-block-0c2447 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-0c2447 .qubely-list li::before {
    margin-right: 12px;
}

.qubely-block-0c2447 .qubely-list li:not(:last-child) {
    margin-bottom: 5px;
}

.qubely-block-0c2447 .qubely-list li {
    padding: 9px;
    ;
}

.qubely-block-0c2447 .qubely-list li {
    border-radius: 72px;
    ;
}

.qubely-block-0c2447 {
    position: relative;
}

.qubely-block-0c2447 {
    z-index: 0;
}

.qubely-block-0c2447 .qubely-block-advanced-list {
    text-align: left;
}

.qubely-block-0c2447 .qubely-list li::before,
.qubely-block-0c2447 .qubely-list li::after {
    font-size: 20px;
}

.qubely-block-0c2447 .qubely-list li::before,
.qubely-block-0c2447 .qubely-list li::after {
    color: #ef1c25;
}

.qubely-block-0c2447 .qubely-list li {}

.qubely-block-0c2447 .qubely-list li {
    background-color: #f5f5f5;
}

.qubely-block-99cc4f.qubely-section {
    padding: 70px 0px 130px 0px;
}

.qubely-block-99cc4f .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-99cc4f .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-99cc4f .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-99cc4f .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-99cc4f.qubely-section {
        padding: 40px 0px 70px 0px;
    }

    .qubely-block-99cc4f .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-99cc4f .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-99cc4f .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-99cc4f .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-99cc4f.qubely-section {
        padding: 40px 0px 50px 0px;
    }

    .qubely-block-99cc4f .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-99cc4f .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-99cc4f .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-99cc4f .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-99cc4f {
    position: relative;
}

.qubely-block-99cc4f {
    z-index: 0;
}

.qubely-block-99cc4f.qubely-section {
    background-color: #f2f2f2;
    background-image: url(uploads/2020/06/CAPM.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.qubely-block-99cc4f>.qubely-row-overlay {
    background-color: #312929;
}

.qubely-block-99cc4f>.qubely-row-overlay {
    mix-blend-mode: multiply;
}

.qubely-block-99cc4f>.qubely-row-overlay {
    opacity: 0.9;
}

.qubely-block-f618c7.qubely-column-front {
    flex: 100%;
}

.qubely-block-f618c7.qubely-column-front {
    max-width: 100%;
}

.qubely-block-f618c7>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-f618c7>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-f618c7.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-f618c7.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-f618c7.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-f618c7.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-f618c7 {
    position: relative;
}

.qubely-block-f618c7 {
    z-index: 0;
}

.qubely-block-808fdf.qubely-section {
    padding: 30px 0px 47px 0px;
}

.qubely-block-808fdf .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-808fdf .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-808fdf .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-808fdf .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-808fdf.qubely-section {
        padding: 0px 0px 30px 0px;
    }

    .qubely-block-808fdf .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-808fdf .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-808fdf .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-808fdf .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-808fdf.qubely-section {
        padding: 0px 0px 30px 0px;
    }

    .qubely-block-808fdf .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-808fdf .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-808fdf .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-808fdf .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-808fdf {
    position: relative;
}

.qubely-block-808fdf {
    z-index: 0;
}

.qubely-block-808fdf>.qubely-row-overlay {
    opacity: .8;
}

.qubely-block-63bbd0.qubely-column-front {
    flex: 15%;
}

.qubely-block-63bbd0.qubely-column-front {
    max-width: 15%;
}

.qubely-block-63bbd0>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-63bbd0>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-63bbd0.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-63bbd0.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-63bbd0.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-63bbd0.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-63bbd0 {
    position: relative;
}

.qubely-block-63bbd0 {
    z-index: 0;
}

.qubely-block-bca712.qubely-column-front {
    flex: 70%;
}

.qubely-block-bca712.qubely-column-front {
    max-width: 70%;
}

.qubely-block-bca712>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-bca712>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-bca712.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-bca712.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-bca712.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-bca712.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-bca712 {
    position: relative;
}

.qubely-block-bca712 {
    z-index: 0;
}

.qubely-block-25fcc9 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-25fcc9 .qubely-block-text {
    text-align: center;
}

.qubely-block-25fcc9 .qubely-block-text,
.qubely-block-25fcc9 .qubely-block-text p.rich-text {
    font-size: 16px;
}

.qubely-block-25fcc9 .qubely-block-text-title-container .qubely-block-text-title-inner .qubely-block-text-title {
    font-size: 45px;
}

.qubely-block-25fcc9 .qubely-block-text-title-inner {
    margin-bottom: 20px;
}

.qubely-block-25fcc9 .qubely-block-text .qubely-block-text-title-container .qubely-block-text-sub-title-container .qubely-block-text-sub-title {
    font-size: 16px;
}

@media (max-width: 1199px) {
    .qubely-block-25fcc9 .qubely-block-text-title-container .qubely-block-text-title-inner .qubely-block-text-title {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .qubely-block-25fcc9 .qubely-block-text-title-container .qubely-block-text-title-inner .qubely-block-text-title {
        font-size: 30px;
        line-height: 1.5em !important;
    }
}

.qubely-block-25fcc9 {
    position: relative;
}

.qubely-block-25fcc9 {
    z-index: 0;
}

.qubely-block-25fcc9 .qubely-block-text,
.qubely-block-25fcc9 .qubely-block-text p.rich-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.qubely-block-25fcc9 .qubely-block-text>* {
    color: #8b8c8d;
}

.qubely-block-25fcc9 .qubely-block-text-title-container .qubely-block-text-title-inner .qubely-block-text-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.qubely-block-25fcc9 .qubely-block-text-title {
    color: #ffffff;
}

.qubely-block-25fcc9 .qubely-block-text .qubely-block-text-title-container .qubely-block-text-sub-title-container .qubely-block-text-sub-title {}

.qubely-block-215915.qubely-column-front {
    flex: 15%;
}

.qubely-block-215915.qubely-column-front {
    max-width: 15%;
}

.qubely-block-215915>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-215915>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-215915.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-215915.qubely-column-front {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .qubely-block-215915.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-215915.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-215915 {
    position: relative;
}

.qubely-block-215915 {
    z-index: 0;
}

.qubely-block-48e49c.qubely-section {
    padding: 0px 0px 0px 0px;
}

.qubely-block-48e49c .qubely-container {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-48e49c .qubely-row {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.qubely-block-48e49c .qubely-row>.qubely-column {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.qubely-block-48e49c .qubely-row *>[data-type="qubely/column"] {
    padding-left: calc(30px/2);
    padding-right: calc(30px/2);
}

.components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
    right: calc(-30px/2);
}

@media (max-width: 1199px) {
    .qubely-block-48e49c .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-48e49c .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-48e49c .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-48e49c .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

@media (max-width: 991px) {
    .qubely-block-48e49c .qubely-container {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-48e49c .qubely-row {
        margin-left: calc(-30px/2);
        margin-right: calc(-30px/2);
    }

    .qubely-block-48e49c .qubely-row>.qubely-column {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .qubely-block-48e49c .qubely-row *>[data-type="qubely/column"] {
        padding-left: calc(30px/2);
        padding-right: calc(30px/2);
    }

    .components-resizable-box__container.qubely-column-resizer.is-selected-column>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-selected .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle,
    div[data-type="qubely/row"].is-resizing .components-resizable-box__container.qubely-column-resizer>span>.components-resizable-box__handle {
        right: calc(-30px/2);
    }
}

.qubely-block-48e49c {
    position: relative;
}

.qubely-block-48e49c {
    z-index: 0;
}

.qubely-block-48e49c>.qubely-row-overlay {
    opacity: .8;
}

.qubely-block-4c947f.qubely-column-front {
    flex: 33.33%;
}

.qubely-block-4c947f.qubely-column-front {
    max-width: 33.33%;
}

.qubely-block-4c947f>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-4c947f>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-4c947f.qubely-column-front {
        flex: 33.33%;
    }

    .qubely-block-4c947f.qubely-column-front {
        max-width: 33.33%;
    }
}

@media (max-width: 991px) {
    .qubely-block-4c947f.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-4c947f.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-4c947f {
    position: relative;
}

.qubely-block-4c947f {
    z-index: 0;
}

.qubely-block-886ccd {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-886ccd .qubely-block-testimonial {
    text-align: left;
}

.qubely-block-886ccd .qubely-testimonial-author-name {
    font-size: 16px;
}

.qubely-block-886ccd .qubely-testimonial-author-name {
    margin-bottom: -4px;
}

.qubely-block-886ccd .qubely-testimonial-author-designation {
    font-size: 13px;
}

.qubely-block-886ccd .qubely-testimonial-content {
    font-size: 18px;
    line-height: 1.56em !important;
}

.qubely-block-886ccd .qubely-testimonial-content {
    margin-bottom: 28px;
}

.qubely-block-886ccd .qubely-testimonial-avatar {
    margin-right: 13px;
}

.qubely-block-886ccd .qubely-testimonial-avatar {
    border-radius: 100%;
    ;
}

.qubely-block-886ccd .qubely-quote-icon {
    font-size: 60px;
}

.qubely-block-886ccd .qubely-testimonial-quote {
    margin-bottom: 22px;
}

.qubely-block-886ccd .qubely-testimonial-ratings {
    font-size: 20px;
}

.qubely-block-886ccd .qubely-testimonial-ratings {
    margin-bottom: 30px;
}

.qubely-block-886ccd .qubely-block-testimonial {
    padding: 46px 40px 40px 40px;
    ;
}

.qubely-block-886ccd .qubely-block-testimonial {
    border-radius: 10px;
    ;
}

.qubely-block-886ccd {
    position: relative;
}

.qubely-block-886ccd {
    z-index: 0;
}

.qubely-block-886ccd .qubely-testimonial-author-name {
    color: #1d1e1f;
}

.qubely-block-886ccd .qubely-testimonial-author-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.qubely-block-886ccd .qubely-testimonial-author-designation {
    color: #8b8c8d;
}

.qubely-block-886ccd .qubely-testimonial-author-designation {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.qubely-block-886ccd .qubely-testimonial-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.qubely-block-886ccd .qubely-testimonial-avatar {
    width: 64px;
    height: 64px;
    font-size: 64px;
}

.qubely-block-886ccd .qubely-quote-icon {
    color: #efefef;
}

.qubely-block-886ccd .qubely-testimonial-ratings:before {
    color: #FFB800;
}

.qubely-block-886ccd .qubely-testimonial-ratings {
    color: #FFB800;
}

.qubely-block-886ccd .qubely-block-testimonial {
    background-image: none;
    background-color: #ffffff;
}

.qubely-block-ef881b.qubely-column-front {
    flex: 33.33%;
}

.qubely-block-ef881b.qubely-column-front {
    max-width: 33.33%;
}

.qubely-block-ef881b>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-ef881b>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-ef881b.qubely-column-front {
        flex: 33.33%;
    }

    .qubely-block-ef881b.qubely-column-front {
        max-width: 33.33%;
    }
}

@media (max-width: 991px) {
    .qubely-block-ef881b.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-ef881b.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-ef881b {
    position: relative;
}

.qubely-block-ef881b {
    z-index: 0;
}

.qubely-block-fbcd2e {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-fbcd2e .qubely-block-testimonial {
    text-align: left;
}

.qubely-block-fbcd2e .qubely-testimonial-author-name {
    font-size: 16px;
}

.qubely-block-fbcd2e .qubely-testimonial-author-name {
    margin-bottom: -4px;
}

.qubely-block-fbcd2e .qubely-testimonial-author-designation {
    font-size: 13px;
}

.qubely-block-fbcd2e .qubely-testimonial-content {
    font-size: 18px;
    line-height: 1.56em !important;
}

.qubely-block-fbcd2e .qubely-testimonial-content {
    margin-bottom: 28px;
}

.qubely-block-fbcd2e .qubely-testimonial-avatar {
    margin-right: 13px;
}

.qubely-block-fbcd2e .qubely-testimonial-avatar {
    border-radius: 100%;
    ;
}

.qubely-block-fbcd2e .qubely-quote-icon {
    font-size: 60px;
}

.qubely-block-fbcd2e .qubely-testimonial-quote {
    margin-bottom: 22px;
}

.qubely-block-fbcd2e .qubely-testimonial-ratings {
    font-size: 20px;
}

.qubely-block-fbcd2e .qubely-testimonial-ratings {
    margin-bottom: 30px;
}

.qubely-block-fbcd2e .qubely-block-testimonial {
    padding: 46px 40px 40px 40px;
    ;
}

.qubely-block-fbcd2e .qubely-block-testimonial {
    border-radius: 10px;
    ;
}

.qubely-block-fbcd2e {
    position: relative;
}

.qubely-block-fbcd2e {
    z-index: 0;
}

.qubely-block-fbcd2e .qubely-testimonial-author-name {
    color: #1d1e1f;
}

.qubely-block-fbcd2e .qubely-testimonial-author-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.qubely-block-fbcd2e .qubely-testimonial-author-designation {
    color: #8b8c8d;
}

.qubely-block-fbcd2e .qubely-testimonial-author-designation {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.qubely-block-fbcd2e .qubely-testimonial-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.qubely-block-fbcd2e .qubely-testimonial-avatar {
    width: 64px;
    height: 64px;
    font-size: 64px;
}

.qubely-block-fbcd2e .qubely-quote-icon {
    color: #efefef;
}

.qubely-block-fbcd2e .qubely-testimonial-ratings:before {
    color: #FFB800;
}

.qubely-block-fbcd2e .qubely-testimonial-ratings {
    color: #FFB800;
}

.qubely-block-fbcd2e .qubely-block-testimonial {
    background-image: none;
    background-color: #ffffff;
}

.qubely-block-ceeb9c.qubely-column-front {
    flex: 33.34%;
}

.qubely-block-ceeb9c.qubely-column-front {
    max-width: 33.34%;
}

.qubely-block-ceeb9c>.qubely-column-inner {
    padding: 0px 0px 0px 0px;
}

.qubely-block-ceeb9c>.qubely-column-inner {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 1199px) {
    .qubely-block-ceeb9c.qubely-column-front {
        flex: 33.33%;
    }

    .qubely-block-ceeb9c.qubely-column-front {
        max-width: 33.33%;
    }
}

@media (max-width: 991px) {
    .qubely-block-ceeb9c.qubely-column-front {
        flex: 100%;
    }

    .qubely-block-ceeb9c.qubely-column-front {
        max-width: 100%;
    }
}

.qubely-block-ceeb9c {
    position: relative;
}

.qubely-block-ceeb9c {
    z-index: 0;
}

.qubely-block-f11400 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.qubely-block-f11400 .qubely-block-testimonial {
    text-align: left;
}

.qubely-block-f11400 .qubely-testimonial-author-name {
    font-size: 16px;
}

.qubely-block-f11400 .qubely-testimonial-author-name {
    margin-bottom: -4px;
}

.qubely-block-f11400 .qubely-testimonial-author-designation {
    font-size: 13px;
}

.qubely-block-f11400 .qubely-testimonial-content {
    font-size: 18px;
    line-height: 1.56em !important;
}

.qubely-block-f11400 .qubely-testimonial-content {
    margin-bottom: 28px;
}

.qubely-block-f11400 .qubely-testimonial-avatar {
    margin-right: 13px;
}

.qubely-block-f11400 .qubely-testimonial-avatar {
    border-radius: 100%;
    ;
}

.qubely-block-f11400 .qubely-quote-icon {
    font-size: 60px;
}

.qubely-block-f11400 .qubely-testimonial-quote {
    margin-bottom: 22px;
}

.qubely-block-f11400 .qubely-testimonial-ratings {
    font-size: 20px;
}

.qubely-block-f11400 .qubely-testimonial-ratings {
    margin-bottom: 30px;
}

.qubely-block-f11400 .qubely-block-testimonial {
    padding: 46px 40px 40px 40px;
    ;
}

.qubely-block-f11400 .qubely-block-testimonial {
    border-radius: 10px;
    ;
}

.qubely-block-f11400 {
    position: relative;
}

.qubely-block-f11400 {
    z-index: 0;
}

.qubely-block-f11400 .qubely-testimonial-author-name {
    color: #1d1e1f;
}

.qubely-block-f11400 .qubely-testimonial-author-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.qubely-block-f11400 .qubely-testimonial-author-designation {
    color: #8b8c8d;
}

.qubely-block-f11400 .qubely-testimonial-author-designation {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.qubely-block-f11400 .qubely-testimonial-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.qubely-block-f11400 .qubely-testimonial-avatar {
    width: 64px;
    height: 64px;
    font-size: 64px;
}

.qubely-block-f11400 .qubely-quote-icon {
    color: #efefef;
}

.qubely-block-f11400 .qubely-testimonial-ratings:before {
    color: #FFB800;
}

.qubely-block-f11400 .qubely-testimonial-ratings {
    color: #FFB800;
}

.qubely-block-f11400 .qubely-block-testimonial {
    background-image: none;
    background-color: #ffffff;
}

.qubely-block-016502 {
    position: relative;
}

.qubely-block-016502 {
    z-index: 0;
}

.qubely-block-fa0076 .qubely-accordion-panel {
    padding: 15px;
    ;
}

.qubely-block-fa0076 .qubely-accordion-body {
    padding: 15px;
    ;
}

.qubely-block-fa0076 .qubely-accordion-panel.qubely-icon-position-left .qubely-accordion-icon {
    margin-right: 10px;
}

.qubely-block-fa0076 .qubely-accordion-panel.qubely-icon-position-right .qubely-accordion-icon {
    margin-left: 10px;
}

.qubely-block-fa0076 {
    margin-bottom: calc(10px / 2);
    padding-bottom: calc(10px / 2);
}

.qubely-block-fa0076 .qubely-accordion-panel {
    color: #000;
}

.qubely-block-fa0076 .qubely-accordion-active .qubely-accordion-panel {
    color: #FFF;
}

.qubely-block-fa0076 .qubely-accordion-panel {
    background-image: none;
    background-color: #EEEEEE;
}

.qubely-block-fa0076 .qubely-accordion-active .qubely-accordion-panel {
    background-image: none;
    background-color: var(--qubely-color-1);
}

.qubely-block-fa0076 .qubely-accordion-body {
    background-image: none;
    background-color: #fff;
}

.qubely-block-fa0076 .qubely-accordion-panel .qubely-accordion-icon {
    font-size: 14px;
}

.qubely-block-9a6cc3 .qubely-accordion-panel {
    padding: 15px;
    ;
}

.qubely-block-9a6cc3 .qubely-accordion-body {
    padding: 15px;
    ;
}

.qubely-block-9a6cc3 .qubely-accordion-panel.qubely-icon-position-left .qubely-accordion-icon {
    margin-right: 10px;
}

.qubely-block-9a6cc3 .qubely-accordion-panel.qubely-icon-position-right .qubely-accordion-icon {
    margin-left: 10px;
}

.qubely-block-9a6cc3 {
    margin-bottom: calc(10px / 2);
    padding-bottom: calc(10px / 2);
}

.qubely-block-9a6cc3 .qubely-accordion-panel {
    color: #000;
}

.qubely-block-9a6cc3 .qubely-accordion-active .qubely-accordion-panel {
    color: #FFF;
}

.qubely-block-9a6cc3 .qubely-accordion-panel {
    background-image: none;
    background-color: #EEEEEE;
}

.qubely-block-9a6cc3 .qubely-accordion-active .qubely-accordion-panel {
    background-image: none;
    background-color: var(--qubely-color-1);
}

.qubely-block-9a6cc3 .qubely-accordion-body {
    background-image: none;
    background-color: #fff;
}

.qubely-block-9a6cc3 .qubely-accordion-panel .qubely-accordion-icon {
    font-size: 14px;
}

.qubely-block-88a6ae .qubely-accordion-panel {
    padding: 15px;
    ;
}

.qubely-block-88a6ae .qubely-accordion-body {
    padding: 15px;
    ;
}

.qubely-block-88a6ae .qubely-accordion-panel.qubely-icon-position-left .qubely-accordion-icon {
    margin-right: 10px;
}

.qubely-block-88a6ae .qubely-accordion-panel.qubely-icon-position-right .qubely-accordion-icon {
    margin-left: 10px;
}

.qubely-block-88a6ae {
    margin-bottom: calc(10px / 2);
    padding-bottom: calc(10px / 2);
}

.qubely-block-88a6ae .qubely-accordion-panel {
    color: #000;
}

.qubely-block-88a6ae .qubely-accordion-active .qubely-accordion-panel {
    color: #FFF;
}

.qubely-block-88a6ae .qubely-accordion-panel {
    background-image: none;
    background-color: #EEEEEE;
}

.qubely-block-88a6ae .qubely-accordion-active .qubely-accordion-panel {
    background-image: none;
    background-color: var(--qubely-color-1);
}

.qubely-block-88a6ae .qubely-accordion-body {
    background-image: none;
    background-color: #fff;
}

.qubely-block-88a6ae .qubely-accordion-panel .qubely-accordion-icon {
    font-size: 14px;
}
</style>
<style type="text/css" id="wp-custom-css">
.site-header {
    background-color: #110d18;
    -webkit-box-shadow: 1px -6px 31px -1px rgba(117, 117, 117, 1);
    -moz-box-shadow: 1px -6px 31px -1px rgba(117, 117, 117, 1);
    box-shadow: 1px -6px 31px -1px rgba(117, 117, 117, 1);
    border-bottom: 1px solid #1a1525;
}

.skillate-mobile-menu-bottom {
    background: #0a0909 !important;
}

.skillate-single-menu-bottom a {
    color: #e3e8ef !important
}

.skillate-navbar-header .skillate-navbar-brand img {
    max-width: 180px !important;
}

@media (max-width: 491px) {
    .skillate-navbar-header .skillate-navbar-brand img {
        max-width: 120px !important;
    }
}

.course-single-attribute {
    padding-bottom: 30px;
    background: linear-gradient(45deg, #260f44, #690b55);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 35px;
}

.course-attribute-single h3 {
    font-size: 20px;
    color: #fff;
}

.course-attribute-single span {
    display: block;
    padding-bottom: 5px;
    color: #f9f9f9;
    letter-spacing: -0.9px;
}

.qubely-block-337acd .qubely-accordion-panel {
    padding: 15px 35px;
}

.qubely-accordion-panel {
    background-image: none;
    background-color: #00263b !important;
}

.qubely-accordion-panel {
    color: #fff !important;
}

.qubely-block-accordion .qubely-accordion-panel .qubely-accordion-panel-handler {
    font-size: 23px;
    line-height: 1.6;
}

.qubely-accordion-body {
    padding: 35px 10px !important
}

.subtitle-cover h2,
.subtitle-cover .breadcrumb a,
.subtitle-cover .breadcrumb>.active,
.breadcrumb {
    color: #ffffff !important;
}

.primary-menu .common-menu-wrap .nav>li>a {
    padding: 20px 12px;
    line-height: 28px;
    border-radius: 0;
    color: #ffffff !important
}

.common-menu-wrap .nav>li>a,
.header-cat-menu>div.header-cat-text,
.header-login-wrap a {
    font-size: 17px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 20px;
}

.page-leading {
    font-size: 40px;
    line-height: 59px;
    font-weight: 700 !important;
    margin-top: 0;
    margin-bottom: 0;
}

.tutor-loop-rating-wrap,
.category-list,
.tutor-single-add-to-cart-box {
    display: none;
}

.qubely-accordion-panel .qubely-accordion-icon {
    font-size: 30px;
}

#bottom-wrap {
    background-color: #2b4a67;
}

#bottom-wrap a {
    color: #ffffff;
}

#footer-wrap {
    background-color: #110D17;
}

.common-menu-wrap .nav>li.menu-item-has-children>a:after {
    color: #ffffff !important;
}

.site-header.sticky {
    background-color: #110D17;
}

.bottom-widget .widget h3.widget-title {
    color: #ffffff;
}

.tutor-dashboard-header-avatar {
    display: none;
}

.nice-select .option,
.nice-select {
    color: #444
}

.order-2 {
    0px auto !important
}

.header-solid .header-login-wrap a {
    color: #fff !important;
    transition: all .4s;
}

#page {
    overflow: hidden;
}

.gform_wrapper input[type=text],
.gform_wrapper select,
.gform_wrapper textarea {
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-color: #494949;
    border-style: solid;
    color: #495057;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .2);
    padding: 8px 14px 8px 24px !important;
    font-size: 14px;
    border-radius: 5px;
    height: 60px;
    width: 100%;
}

.qubely-sub-heading-selector {
    color: #1f2949;
}

.gform_wrapper label.gfield_label,
.gform_wrapper legend.gfield_label {
    font-weight: 500;
    font-size: inherit;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: solid 1px #191717;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

.qubely-sub-heading-selector {
    color: #1f2949 !important;
}

.footer-top-section {
    background: #f7f7f7 !important;
    padding: 31px 0 !important;
}

.page-leading {
    font-size: 50px
}

.m-bgr {
    background: #f2f2f2;
    margin-bottom: 0px;
}

@media and screen (max-width:991px) {
    h2 {
        font-size: 29px !important;
        line-height: 30px !important;
    }
}

.footerform {
    /*background: url(uploads/2020/07/Contact-Homepage-1.jpg);*/
    background-size: cover;
    margin-bottom: 0;
    min-height: 499.6px;
}

.qubely-block-accordion .qubely-accordion-active .qubely-accordion-icon.fa-plus:before {
    color: #ed1c25 !important;
}

.skillate-related-course {
    display: none;
}

.has-large-font-size {
    line-height: 43px;
}

.page-global-padding {
    padding-bottom: 0px !important;
}

.wp-block-columns {
    margin-bottom: 0px !important
}

.qubely-block-text-title-inner {
    line-height: 23px;
}

.qubely-block-text-title-inner h3 {
    font-size: 23px !important;
}

.qubely-mediacard-content-wrapper {
    padding: 5px 20px !important;
}

.tutor-form-group label {
    font-weight: 700 !important
}

.tutor-single-course-rating {
    color: #f8c51c;
    font-size: 16px;
    display: none !important;
}

.skillate-single-course-sidebar {
    margin-bottom: 90px !important;
    background: #ffffff;
}

#tab-instructor {
    display: none
}

.qubely-block-44c82b .qubely-block-text-title-inner {
    display: table-cell;
    vertical-align: middle;
    height: 50px !important;
    text-align: center;
}

.qubely-block-mediacard.qubely-mediacard-layout-4 .qubely-mediacard-media_wrapper img {
    display: block;
    width: 100%;
    height: 250px;
}

.subtitle-cover .row.subtitle-border:after {
    content: "";
    width: calc(100% - 30px);
    height: 0px;
    position: absolute;
    background: #dadce0;
}

.tutor-courses-grid-price,
.new-user-login {
    display: none !important;
}

.nice-select .option {
    line-height: 24px !important;
    font-size: 14px !important;
}

.divTable {
    display: table;
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

.divTableRow {
    display: table-row;
    background: #7b7b7b;
    color: #fff;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 9px 10px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.table-header {
    font-weight: 600;
    background: #ca3037;
    color: #fff;
    padding: 41px;
    font-size: 17px;
    line-height: 20px;
}

.registerbtn {
    border: 1px solid #000;
    padding: 8px;
    color: #fff;
    background: #6985de;
    font-size: 14px;
    text-align: center;
}

.registerbtn:hover {
    background: #5070d6;

}

.cellhold:nth-child(even) {
    background: #00263b;
}

.table-header .first {
    word-break: break-all;
}

@media (max-width:400px) {
    .divTable .xsscreen {
        display: none !important;
    }
}

@media (max-width:767px) {
    .form-w {
        padding: 10px 20px !important
    }

    .divTable .dateto,
    .divTable .mobilehide {
        display: none !important;
    }

    h2 {
        font-size: 30px !important
    }

    h3 {
        font-size: 25px !important;
        line-height: 30px !important;
    }
}

.site-header {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit],
button {
    font-size: 1em;
    width: auto;
    margin: 0 16px 0 0;
    background: #ff5248 !important;
    border: 0px;
    color: #fff;
    font-weight: 700 !important;
    padding: 10px 13px !important;
}

#gform_wrapper_4 .gform_wrapper ul.gfield_radio li {
    padding: 0 !important;
    font-size: 20px !important;
    margin-bottom: 30px !important;
}

#gform_previous_button_4 {
    display: none !important
}

.morebtn {
    margin-top: 40px;
    font-size: 16px;
    padding: 12px;
    border: 1px solid;
}

b,
strong {
    font-weight: 600 !important;
}

.qubely-block-771b71 .qubely-block-heading .qubely-sub-heading-selector {
    color: #ef1c25 !important;
    font-size: 27px;

}

.qubely-block-3c4a09 .qubely-block-heading .qubely-sub-heading-selector {
    color: #ef1c25 !important;
    font-size: 25px;
}

.form-w {
    padding: 10px 30px
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    font-size: inherit;
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
    border-width: 1px;
    border-color: #494949;
    border-style: solid;
    color: #495057;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .2);
    padding: 8px 14px 8px 24px !important;
    font-size: 14px;
    border-radius: 5px;
    height: 45px;

}


#gform_wrapper_3,
#gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    background: none !important
}

.bottom-widget ul.themeum-social-share li a {
    color: #b0b4b8 !important;
    font-size: 27px;
}

.accordion__title {
    cursor: pointer;
    margin: 0;
    position: relative;
}

.accordion__icon {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}

.accordion__icon .line-01,
.accordion__icon .line-02 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background-color: #272343;
    transition: 0.3s;
}

.accordion__icon .line-02 {
    transform: rotate(90deg);
}

.accordion__content {
    display: none;
}

.accordion--open>.accordion__title .line-02 {
    transform: rotate(0deg);
}

.accordion {
    margin-top: -1px;
    border-top: 1px solid #272343;
    border-bottom: 1px solid #272343;
}

.accordion__title {
    padding: 20px 16px;
    font-size: 16px;
    transition: 0.2s;
}

.accordion__content {
    padding: 24px 0px 16px;
}

.accordion__content p {
    margin: 0 0 16px;
}

.accordion__title:hover {
    background-color: #433d6f;
    color: #fff;
}

.accordion__title:hover .line-01,
.accordion__title:hover .line-02 {
    background-color: #fff;
}

.accordion--open>.accordion__title {
    background-color: #00263b;
    color: #fff;
}

.accordion--open>.accordion__title .line-01,
.accordion--open>.accordion__title .line-02 {
    background-color: #fff;
}

.accordion--nested .accordion__title {
    padding: 16px;
    font-size: 14px;
}

.accordion__content .first {
    width: 770px;
}

.Jason.Wulf {
    background-color: #7b7b7b;
}

.Wulf img.qubely-image-image {
    padding: 15px;
    background-color: #00263b;
}

.ouradvisor {
    padding-top: 30px;
}

.Jasonwulfwp {
    background-color: #fff;
    border: 2px solid #000;
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}

.background {
    background-color: #00263b;
}

ul.Accomplishments {
    color: #fff;
    font-size: 13px;
}

.Jasonwulfwp {
    margin-left: 15px;
    margin-right: 15px;
}

.back span.qubely-text-has-color {
    color: #7b7b7b !important;
}
